/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.button {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #7cbb02;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.button-transparent {
    background-color: transparent;
    border: 1px solid white;
}

.grey-text {
    color: #808080;
}

.green-text {
    color: #7cbb02;
}



/* Col img */

.img-object-fit {
    height: 100%;
    object-fit: cover;
    /* questa struttura ci permette di mantenere
    l'immagine all'interno del nostro container */
}

.col-img-container {
    height: 260px;
}

.margin-block {
    margin-bottom: 5%;
}

/* HEADER */

header {
    background-color: #0c325a;
    height: 550px;
    background-image: url("../img/background-header.png");
    background-size: 1000px;
    /* dimensioni immagine */
    background-repeat: no-repeat;
    /* l'immagine non si ripete */
    background-position: 108% 112%;
    /* grazie all'inspector trovo la posizione corretta dell'immagine */
    padding-top: 15px;
}

nav {
    width: 80%;
    margin: 0 auto;
    color: white;
}

/* Menu */

header .col {
    float: left;
}

header .logo {
    width: 10%;
}

header .menu-central {
    width: 50%;
    padding-left: 3%;
}

header .list {
    padding-top: 20px;
}

header .menu-right {
    width: 40%;
    text-align: right;
}

/* List */

.list ul li {
    display: inline-block;
}

.list a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-left: 20px;
}

/* Teaser */

.teaser {
    margin-top: 15%;
    font-size: 40px;
    width: 50%;
}

.teaser .button {
    margin-top: 3%;
}

/* MAIN */

section{
    padding: 40px 0;
    /* in tutte e 3 le sezioni sono le stesse distanze! */
}


/* Section-title */

.title {
    background-color: #d3d3d3;
    height: 150px;
    font-size: 20px;
    text-align: center;
}


/* Section-middle */

main .container-middle {
    width: 80%;
    margin: 1% auto;
    /* height: 500px; */
    /* non serve  */
    text-align: center;
}

.main-col {
    float: left;
    margin: 0 2%;
}

.col-left, .col-right, .col-center {
    width: 29%;
}

.col-left img {
    width: 48%;
    margin: auto;
}

.col-center img {
    width: 76%;
    margin: auto;
}

.col-right img {
    width: 53%;
    margin: auto 15%;
}

.container-middle h2 {
    font-size: 34px;
}

.container-middle hr {
    margin: auto;
    width: 20%;
}

.container-middle h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}